@font-face {
    font-family: "PixeloidMono";
    src: url(Fonts/PixeloidMono-d94EV.ttf);
}

@font-face {
    font-family: "PixeloidSans";
    src: url(Fonts/PixeloidSans-mLxMm.ttf);
}

@font-face {
    font-family: "PixeloidSansBold";
    src: url(Fonts/PixeloidSansBold-PKnYd.ttf);
}


@font-face {
  font-family: "Lexend";
  src: url(Fonts/Lexend-Regular.ttf);
}

@font-face {
  font-family: "LexendThin";
  src: url(Fonts/Lexend-Thin.ttf);
}

@font-face {
  font-family: "LexendBold";
  src: url(Fonts/Lexend-Bold.ttf);
}

.center {
    
  width: 50%;
}

div {
    width: 400px;
    word-wrap: break-word;
}

h2 {
  padding-left: 30%;
  padding-right: 30%;
}

h5 {
  padding-left: 10%;
  padding-right: 30%;
}

p {
  padding-left: 30%;
  padding-right: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;

}

ul li {
  float: left;
  font-size: 20px;
  font-family: Lexend;
  padding-left: 0%;
  padding-right: 0%;
}




li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}


li a:hover {
  text-decoration: underline;
}


.selected
{
font-weight: bold;
}

hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 8px solid white;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;

}


.devlogList
{
  list-style-type: square;
  padding-left: 30%;
  padding-right: 30%;
}


.devlogList li
{
  font-family: PixeloidSans;
}

.devlogList img
{
  width: 100%;
  padding-top: 5%;
}

footer
{
  background-color: #1a181d;
}


footer h5
{
  text-align: center;
  padding: 1% 0 1% 0;
  margin: 0;
  font-family: LexendThin;
  color: #DEE8E7;
}