@font-face {
    font-family: "PixeloidMono";
    src: url(Fonts/PixeloidMono-d94EV.ttf);
}

@font-face {
    font-family: "PixeloidSans";
    src: url(Fonts/PixeloidSans-mLxMm.ttf);
}

@font-face {
    font-family: "PixeloidSansBold";
    src: url(Fonts/PixeloidSansBold-PKnYd.ttf);
}

@font-face {
  font-family: "Lexend";
  src: url(Fonts/Lexend-Regular.ttf);
}

@font-face {
  font-family: "LexendThin";
  src: url(Fonts/Lexend-Thin.ttf);
}

@font-face {
  font-family: "LexendBold";
  src: url(Fonts/Lexend-Bold.ttf);
}

@font-face {
  font-family: "Anurati";
  src: url(Fonts/Anurati-Regular.otf);
}



@keyframes FadeLogo {
  from {opacity: 1;}
  to {opacity: 0;}
}
.Logo {
  animation-name: FadeLogo;
  animation-duration: 5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



@keyframes FadeImage {
  from {opacity: 0;}
  to {opacity: 1;}
}

.FadeImage {
  animation-name: FadeImage;
  animation-duration: 5s;
}



.fadein {
  width: 100%;
  height: 10%;
  overflow: hidden;
  position: relative;
}

.fadein img {
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 28s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

#f1 {
  background-color: lightblue;
  

}
#f2 {
  animation-delay: -16s;
}

#f3 {
  animation-delay: -8s;
}

#f4 {
  animation-delay: -4s;
}





.center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.Buttoncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }

.btn {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
  }
  
div {
    width: 400px;
    word-wrap: break-word;
}

h2 {
    padding-left: 30%;
    padding-right: 30%;
}

h5 {
    padding-left: 10%;
    padding-right: 30%;
}

p {
    padding-left: 30%;
    padding-right: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;

  }
  
ul li {
    float: left;
    font-size: 20px;
    font-family: Lexend;
    padding-left: 0%;
    padding-right: 0%;
  }
  



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
  }
  

li a:hover {
    text-decoration: underline;
  }


.selected
{
  font-weight: bold;
}


table
{
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
  background-color: black;
}

th
{
  font-size: 48px;
  text-align: center;

}

td
{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.titleText {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 5px solid white;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  height: 10%;
  overflow: hidden;
  position: relative;
}




.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}


.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}


.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}


.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #DEE8E7;
}




#rcorners1 {
  width: 25%;
  height: 25%;
  border: 8px solid #DEE8E7;
  border-radius:100%;
  overflow:hidden;
  margin: 3% 10% 3% 10%;
}

html, body {
  margin: 0;
  padding: 0;

}




#NMS_notice
{
  padding: 0 0 1% 15.25%;
  margin: 0;
}

#AboutH1
{
  position: absolute;
  top: 15%;
  left: 40%; 
  color: #DEE8E7;
  font-size: 64px;
}

#AboutDesc1
{
  position: absolute;
  top: 40%;
  left: 40%; 
  color: #DEE8E7;
  padding-right: 30%;
}



footer h5
{
  text-align: center;
  padding: 1% 0 1% 0;
  margin: 0;
  font-family: LexendThin;
  color: #DEE8E7;
}

.AboutMe
{
  background-color: #87564F;
  color: #DEE8E7;
  border: 2px solid #DEE8E7;
}


.TitleImage
{
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #DEE8E7;
  margin-top: 10%;
}


div.scroll-container {
  background-color: #161616;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
  border: dotted white;
}

div.scroll-container img {
  padding: 1%;
  width: 30%;
  display: inline;
  margin-left: auto;
  margin-right: auto;

}


.Index
{
  color: white; 
  font-family: LexendThin; 
  background-color: #161616;
}

.Builds
{
  color: white; 
  font-family: LexendThin; 
  background-image: linear-gradient(#161616, black)
}

.Devlog
{
  color: white; 
  font-family: Lexend; 
  background-image: linear-gradient(#161616, black)
}

.Gallery
{
  color: white; 
  font-family: Lexend; 
  background-image: linear-gradient(#161616, black)
}

.devlogList
{
  list-style-type: circle;
  padding-left: 30%;
  padding-right: 30%;
}


.devlogList li
{
  font-family: LexendThin;
}

.devlogList img
{
  width: 100%;
  margin-top: 5%;
  border: 3px solid white;
}

Devlog main section
{
  border: 8px solid #DEE8E7;
}

#buildText
{
  font-family: LexendBold;
  font-size: 32px;
  text-align: center;
}

h1 a
{
  color: wheat;
  
}

#buildParagraph
{
  font-family: LexendThin;
  text-align: center;
}

.BuildImage
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 50%;
  border: 3px solid white;
}

.BuildImage
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px solid white;
}

.BuildVideo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  width: 560;
  height: 315;
}

Index h2
{
  font-family: Lexend;
}


.AboutGameBackground {

  background-image: url(Images/americanflag.png);


  filter: blur(8px);
  -webkit-filter: blur(8px);


  height: 100%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.AboutGame
{
  background-image: url(Images/EarthOrbit_1440pBLURED.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 3px white solid;
  margin: 0;
  padding: 0;
}


#AboutGameHeading
{
  font-family: Lexend;
  padding: 0 5%;
  margin: 0;
  font-size: 80px;
  font-weight: bold;
}

#AboutGameText
{
  font-family: LexendThin;
  padding: 0;
  margin: 0;
  font-size: 48px;
}


.KeyFeaturesOL
{
  list-style-type: circle;
  padding-left: 31%;
  padding-right: 30%;
}

KeyFeaturesOL li
{
  font-family: LexendThin;

}